@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sidebar">
    <ul class="sideNav">
        <li><a class="action_Index" href="@Url.Action("Index")">欢迎</a></li>
        @if (!(bool)ViewBag.IsLogin)
        {
            <li><a class="action_Login" href="@Url.Action("Login")">登陆</a></li>
        }
    </ul>
    <!-- // .sideNav -->
</div>
<!-- // #sidebar -->
@RenderBody()
<div class="clear"></div>
@section Script{
    @RenderSection("Script", false)
}
