@{
    ViewBag.Title = "首页 | 办公OA系统";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<h2>
    @Html.ActionLink("首页", "Index", "Home", new { @class = "active" })
</h2>
<div id="main">
    <h3>功能介绍</h3>
    <div>
        <ul>
            <li><b>信息共享平台</b></li>
            <li>1.最新公告</li>
            <li>2.新增公告</li>
            <li>
                <br />
            </li>
            <li><b>工作流平台</b></li>
            <li>1.所有任务</li>
            <li>2.我申请的流程</li>
            <li>3.新建请假流程</li>
            <li>4.新建项目流程</li>
            <li>
                <br />
            </li>
            <li><b>考聘平台</b></li>
            <li>1.我的本月考勤报告</li>
            <li>2.下属的考勤报告</li>
            <li>3.上班签到</li>
            <li>4.下班签到</li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <h3>流程图介绍</h3>
    <div>
        <img src="@Url.Content("~/Content/Images/LeaveProcess.jpg")" alt="Alternate Text" />
    </div>
    <div>
        <img src="@Url.Content("~/Content/Images/ProjectProcess.jpg")" alt="Alternate Text" />
    </div>
</div>
<!-- // #main -->
