@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sidebar">
    <ul class="sideNav">
        <li><a href="#">通知公告</a></li>
        <li><a href="#">收件箱</a></li>
    </ul>
    <!-- // .sideNav -->
</div>
<!-- // #sidebar -->
@RenderBody()
<div class="clear"></div>
