@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sidebar">
    <ul class="sideNav">
        <li><a class="action_Index" href="@Url.Action("Index")">最新公告</a></li>
        <li><br />
            <br />
        </li>
        <li><a class="action_Create" href="@Url.Action("Create")">新增公告</a></li>
    </ul>
    <!-- // .sideNav -->
</div>
<!-- // #sidebar -->
@RenderBody()
<div class="clear"></div>
