@model PagedList<Article>
@{
    ViewBag.Title = "最新公告 | 信息共享平台 | 办公OA系统";
    Layout = "~/Views/Information/_Layout.cshtml";
}
<!-- h2 stays for breadcrumbs -->
<h2>
    @Html.ActionLink("最新公告", "Index", "Information", new { @class = "active" })
</h2>
<div id="main">
    <br />
    <div id="ajaxContent">
        @Html.Partial("_Index", Model)
    </div>
</div>
<!-- // #main -->
